{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<html lang="fa" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% if LANGUAGE_CODE == 'fa' %}رخام | سبد خرید{% else %}rokhaam | Cart{% endif %} </title>
    <meta name="description" content=" ">
    <meta name="author" content="mahyar_bhzp">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon" />
    <link rel="manifest" href="{% static 'assets/manifest.json' %}" />

{% include "style.html" with css=css %}
  </head>
  <body class="shock-body bg-color black" >
{% include 'header.html' %}
    <script>
    function numberWithCommas(number) {
    var parts = number.toString().split(".");
    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    return parts.join(".");
    }

 //Output: 1,234,567
    </script>
    <main id="main" class="shock-main">
      <section class="shock-section has-holder pt-6 pb-3 bg-color black"><div class="navbar-holder"></div>
                <div class="container max-w-55">
                    <div class="card-body">
                  <h2 class="text-offset text-style-1">
                    <span class="filled tertiary-50">{% if LANGUAGE_CODE == 'en' %}Shopping Cart{% else %}سبد خرید{% endif %}</span>
                    <span class="outline white">{% if LANGUAGE_CODE == 'en' %}Shopping Cart{% else %}سبد خرید{% endif %}</span>
                  </h2>
                  <!-- Tag Cloud -->
                </div>

          <!-- Table -->
          <table class="table scheme-2">
            <thead>
              <tr>
                <th scope="col" class="white">#</th>
                <th scope="col" class="white">
                    {% if LANGUAGE_CODE == 'en' %}Image{% else %}عکس{% endif %}
                </th>
            
                <th scope="col" class="white"> {% if LANGUAGE_CODE == 'en' %}Name{% else %}نام{% endif %}</th>
                <th scope="col" class="white"> {% if LANGUAGE_CODE == 'en' %}Price{% else %}قیمت{% endif %}</th>
                <th scope="col" class="white"> {% if LANGUAGE_CODE == 'en' %}Action{% else %}عملیات{% endif %}</th>
              </tr>
            </thead>
            <tbody>
            {% for cart in cart %}
            {% with product=cart.product %}
              <tr>
                <th scope="row" class="white">{{product.id}}</th>
                <td><img src="{{product.image.url}}" width="50px" height="50px" /></td>
                <td> {{product.name}}</td>
                <td id="price{{product.id}}"></td>
                <td><a href="{% url 'cart:cart_remove' product.id %}" class="text-danger"><i class="fas fa-trash"></i></a></td>
              </tr>
                <script>document.querySelector("#price{{product.id}}").innerHTML +=  numberWithCommas({{cart.price}}) + "تومانءءء";
              </script>
            {% endwith %}
            {% endfor %}


            </tbody>
          </table>
         <div class="container">
            <div class="row g-4">
        <div class="col-6 col-md-6">
                <!-- Bottom Tooltip -->
            <h2 class="text-style-5 text-outline text-color black floating-item" style="color:white;">
            <mark class="animated-underline when-hover accent active" id="pricet"> </mark>
            </h2>
            <script>document.querySelector("#pricet").innerHTML +=  numberWithCommas({{ cart.get_total_price }}) + "تومانءءء";
              </script>
        </div>
        <div class="col-6 col-md-6">
        <a href="http://rokhaam.com{% if LANGUAGE_CODE == 'fa' %}/fa/{% else %}/{% endif %}store/checkout" class="button shadow tertiary-25 tertiary-hover magnetic-effect" style="background:green; float:left;">
                    <span class="button-text tertiary white-hover" style="color:white;"> {% if LANGUAGE_CODE == 'en' %}Continue{% else %}ادامه{% endif %}</span>
                    <span class="button-duocolor tertiary black-hover" style="background:green;">
                      <i class="fa-solid fa-arrow-down button-icon white white-hover"></i>
                    </span>
        </a>
        </div>
                </div>
                </div>
                </div>

</section>

</main>
      <!-- ======= Footer ======= -->
  {% include 'footer.html' %}
  <!-- End Footer -->
{% include 'js.html' with js=js %}
</body>
</html>