{% load static %}
{% load ratings %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="fa" dir="rtl">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title> {% if LANGUAGE_CODE == 'en' %}rokhaam{% else %}رخام{% endif %}|  {{product.name}}</title>
  <meta content="{{product.short_description}}" name="description">
  <meta content="{{product.keywords}}" name="keywords">
	<meta name="author" content="mahyar_bhzp">
  <!-- Favicons -->
  <link rel="manifest" href="{% static 'assets/manifest.json' %}" />
{% include "style.html" with css=css %}
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
  </head>
  <body class="shock-body" style="background:#141415;">
{% include 'header.html' %}
    <!-- Main -->
    <main id="main" class="shock-main" data-bg-color="#141415">
      <!-- Image carousel -->
      <section class="shock-section has-holder pt-5 pb-5 js-auto-width overflow-hidden">
        <div class="container">
          <!-- Intro -->
          <div class="basic-intro mb-2 text-center">
            <h2 class="title gray-50 text-style-5">{{product.name}}</h2>
            <hr class="gray-25">
          </div>
                    <div class="content scheme-1">
            <!-- Breadcrumb -->
            <div class="breadcrumb-nav scheme-1 primary">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item has-icon">
                    <a href="{% if LANGUAGE_CODE == 'fa' %}/fa/{% else %}/{% endif %}" class="breadcrumb-link">{% if LANGUAGE_CODE == 'en' %}Home{% else %}خانه{% endif %} </a>
                  </li>
                  <li class="breadcrumb-item has-icon">
                    <a href="{% if LANGUAGE_CODE == 'fa' %}/fa/{% else %}/{% endif %}store/" class="breadcrumb-link"><span class="text">{% if LANGUAGE_CODE == 'en' %}Products{% else %}محصولات{% endif %}</span></a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    {{product.name}}
                  </li>
                </ol>
              </nav>
                {% ratings product %}
            </div>
		  </div>
          <!-- Carousel-->
          <div class="js-auto-width-wrapper">
            <div class="gallery swiper slider stretched has-gap has-overflow-right scheme-1 primary" data-columns="2,2,1,1">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="image-wrapper">
                    {% if product.image %}
                    <img src="{{product.image.url}}" class="image vh-50 fit-cover shadow rounded-3" />
                    {% else %}
                     <p></p>
                    {% endif %}
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="image-wrapper">
                    {% if product.image2 %}
                    <img src="{{product.image2.url}}" class="image vh-50 fit-cover shadow rounded-3" />
                    {% else %}
                     <p></p>
                    {% endif %}
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="image-wrapper">
                    {% if product.image3 %}
                    <img src="{{product.image3.url}}" class="image vh-50 fit-cover shadow rounded-3" />
                    {% else %}
                     <p></p>
                    {% endif %}
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="image-wrapper">
                    {% if product.image4 %}
                    <img src="{{product.image4.url}}" class="image vh-50 fit-cover shadow rounded-3" />
                    {% else %}
                     <p></p>
                    {% endif %}
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="image-wrapper">
                    {% if product.image5 %}
                    <img src="{{product.image5.url}}" class="image vh-50 fit-cover shadow rounded-3" />
                    {% else %}
                     <p></p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

          <!-- Horizontal Tab: Dark background -->
      <section class="shock-section pb-6">
        <div class="container">
          <div class="horizontal-tab scheme-2 secondary">
            <!-- Tab navigation -->
            <ul id="example-dark-tab" class="nav nav-tabs" role="tablist" aria-orientation="horizontal">
              <li class="nav-item" role="presentation">
                <button id="example-dark-1-tab" class="nav-link active" aria-selected="true" aria-controls="example-dark-1" data-bs-target="#example-dark-1" data-bs-toggle="tab" role="tab">
                  {% if LANGUAGE_CODE == 'en' %}Product Description{% else %}توضیحات محصول{% endif %}
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button id="example-dark-2-tab" class="nav-link" aria-selected="false" aria-controls="example-dark-2" data-bs-target="#example-dark-2" data-bs-toggle="tab" role="tab">
                  {% if LANGUAGE_CODE == 'en' %}comments{% else %}کامنت ها{% endif %}({{commentcount}})
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button id="example-dark-3-tab" class="nav-link" aria-selected="false" aria-controls="example-dark-3" data-bs-target="#example-dark-3" data-bs-toggle="tab" role="tab">
                  {% if LANGUAGE_CODE == 'en' %}Add Comment{% else %}ارسال نظر{% endif %}
                </button>
              </li>
            </ul>
            <!-- Tab content -->
            <div class="tab-content">
              <div id="example-dark-1" class="tab-pane fade show active" role="tabpanel">
                <div class="max-w-85 mx-auto ">
                  {{product.description|safe}}
                </div>
              </div>
              <div id="example-dark-2" class="tab-pane fade" role="tabpanel">
                <div class="max-w-85 mx-auto">
                <div class="comments-wrapper">
                  <!-- Comment -->
                  {% for cm in comment %}
                  {% if cm.active %}
                  <div id="comment-{{cm.id}}" class="comment" style="background:#7474741f;padding:5px;border-radius:10px; margin:5px;">
                    <div class="comment-metadata">
                      <div class="comment-author">
                        <h5 class="author-name"> {{cm.name}}</h5>
                      </div>
                    </div>
                    <div class="comment-content">
                      <p>{{cm.description}}</p>
                    </div>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
                </div>
              </div>
              <div id="example-dark-3" class="tab-pane fade" role="tabpanel">
                <div class="max-w-85 mx-auto">
                                <!-- Form -->
                <div class="form-area scheme-2 primary">
                  <form class="form-fields" method="POST" action="/store/product/{{product.slug}}/">
                    {% csrf_token %}
                    <div class="form-row row">
                      <div class="form-col col-6 col-md-6">
                          <input type="text" class="form-control" name="name" placeholder="{% if LANGUAGE_CODE == 'en' %}Full name{% else %}نام کامل{% endif %}"  required="required">
                    </div>
                    <div class="form-col col-6 col-md-6">
                          <input type="text" class="form-control" name="phone" placeholder="{% if LANGUAGE_CODE == 'en' %}Phone{% else %}شماره تلفن همراه{% endif %}"  required="required">
                    </div>
                    </div>
                        
                    <div class="form-row row">
                      <div class="form-col col-12">
                        <textarea class="form-control rounded-3 form-textarea" rows="3" placeholder="{% if LANGUAGE_CODE == 'en' %}comment{% else %}نظر{% endif %}" required="required" name="description"></textarea>
                      </div>
                    </div>
                    <div class="form-row row">
                      <div class="form-col col-12">
                        <!-- Button -->
                        <button class="button shadow rounded-3 primary white-hover button-collision" type="submit">
                          <span class="button-text white black-hover">{% if LANGUAGE_CODE == 'en' %}Send{% else %}ارسال{% endif %}</span>
                          <i class="fa-solid fa-arrow-left button-icon white black-hover"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
		<center>
		<div>
          <form method="post" action="{% url 'cart:cart_add' product.id %}">
            {% csrf_token %}
            <div class="plus-minus">
              <input type="hidden" name="product_count" value="1" min="1" max="1" />
                            </div>
            <button type="submit" class="button double-edge transparent black-hover hover-up">
              <i class="fa-solid fa-cart-shopping icon button-icon black white-hover" style="color:white;"></i>
              <span class="button-text black white-hover" style="color:white;">{% if LANGUAGE_CODE == 'en' %}Add to Cart{% else %}افزودن به سبد خرید{% endif %}</span>

              <span class="overlay gray-50 magnetic-effect"></span>
            </button>
                                </form>

		</div>
		</center>
    </main>
  <!-- ======= Footer ======= -->
  {% include 'footer.html' %}
  <!-- End Footer -->
{% include 'js.html' with js=js %}
</body>

</html>